<section class="contacts">
  <div class="contacts__inner">
    <div class="contacts__content">
      <h1 class="contacts__title">{{ lang.translations().contacts.title }}</h1>

      <p class="contacts__text">
        {{ lang.translations().contacts.body1 }}<a href="mailto:chavaga.media@gmail.com" class="contacts__link">{{ lang.translations().contacts.email }}</a>
      </p>

      <p class="contacts__text">
        {{ lang.translations().contacts.body2 }}<br>
        Instagram: <a href="https://instagram.com/chavaga.media" target="_blank" rel="noopener" class="contacts__link contacts__link--bold">{{ lang.translations().contacts.instagram }}</a><br>
        Telegram: <a href="https://t.me/chavaga_media" target="_blank" rel="noopener" class="contacts__link contacts__link--bold">{{ lang.translations().contacts.telegram }}</a>
      </p>
    </div>
  </div>

  <div class="contacts__photo">
    <img src="assets/images/contact.svg" alt="Контакты" class="contacts__photo-img">
  </div>
</section>
