<section class="about">
  <div class="about__inner">

    <div class="about__title-block">
      <h1 class="about__title">{{ lang.translations().about.title }}</h1>
    </div>

    <div class="about__photo">
      <img src="assets/images/about.png" alt="О нас" class="about__photo-img">
    </div>

    <div class="about__content">
      <div class="about__text">
        <p>{{ lang.translations().about.body1 }}</p>
        <p>{{ lang.translations().about.body2 }}</p>
        <p>{{ lang.translations().about.body3 }}</p>
      </div>
    </div>



  </div>
</section>
